{% extends 'base.html' %}


{% block main %}

<section id="section-2" class="secc">
      <h1>Witaj na JużDziś!</h1>
      <p>Witaj w przyszłości! Jest tu! trzymasz ją w rękach.</p>
  </section>
  <section id="section-3" class="secc">
      <h1>Dlaczego?</h1>
      <p>Na samym początku musimy odpowiedzieć na najtrudniejsze pytanie, dlaczego w małej grupie stworzyliśmy Już Dziś? Odpowiedź wbrew pozorom jest prosta! Sami jesteśmy uczniami i Pamiętamy jak bardzo taka platforma mogłaby się nam przydać. Tym bardziej mając na uwadze to, że niektórzy z nas Już Dziś! sami próbują swoich sił na rynku pracy. Myślimy zatem, że Wy też szukacie miejsc, gdzie będziecie mogli profesjonalnie poszerzać swoją wiedzę. Już Dziś! staje się to prostsze!</p>
  </section>
  <section id="section-4" class="secc">
      <h1>Cele projektu</h1>
      <p>Naszym głównym celem jest pomaganie Wam w wykorzystaniu swojego potencjału. Będzie to możliwe dzięki wykładom prowadzonym przez ludzi, a organizowanym przez naszą witrynę którzy sami osiągneli sukces w danej branży i chcą się nim podzielić z Wami i dać Wam przepis na sukces. Już Dziś! masz szansę wziąć przyszłość w swoje ręcę!</p>
  </section>
  <section id="section-5" class="secc">
      <h1>O projekcie</h1>
      <p>Już Dziś! to projekt społeczny od uczniów - dla uczniów. W ramach Innowacyjnej platformy Zwolnieni z Teorii powstała ta platforma streamingowa na której Już Dziś! możesz znajeźć kursy idealnie dopasowane do ciebie. Już Dziś! razem z nami naucz się czegoś nowego!</p>
  </section>
{% endblock %}
